@charset "UTF-8";
body{
    width: 100%;
    height: 100%;
    background: url("../Images/147479906785.jpg") no-repeat fixed center top;
    background-size:100% 100%;
}
ul, ol, dl{
    list-style: none;
}
.a_defalut:hover{
     text-decoration: none;
 }
.item{
    height:500px;
    overflow: hidden;
}
body{
    height:5000px;
}
/*换皮肤需要换*/
.header{
    background: url(../Images/header-bg.jpg) no-repeat;
    position: relative;
    border-bottom: 5px solid #E8432E;
    background-size: 100% 100%;
}
.header_on{
    width: 100%;
}
.top_header{
    margin:0 0 50px 50px;
    height:600px;
    width:70%;
    float: left;
}

.top_header h2{
    margin-top:100px;
    color:#fff;
    font-size:70px;
    font-weight: 500;
}
.top_header p{
    margin-top:80px;
    width: 60%;
    color:#fff;
    font-size:40px;
    font-weight: 500;
}
/*换皮肤需要换*/
.nav-icon{
    width: 40px;
    height: 40px;
    display: block;
    background: url(../Images/image-sprite.png) no-repeat -3px -124px;
    cursor:pointer;
    position: absolute;
    right:100px;
    top:50px;
}
/*换皮肤需要换*/
.form_content{
    width: 100%;
    height:650px;
    background:rgba(232, 67, 46, 0.45098);
    position: absolute;
    top:-650px;
    left:0;
}
.form_content ul{
    margin-left:-100px;
    position: absolute;
    left:50%;
    top:200px;
}
.form_content ul li{
    margin-bottom: 4px;
    line-height: 80px;
    text-align:center;
    font-weight: bold;
    position: relative;
}
.form_content ul li a{
    transition: all 1s;
    font-family: 'pt_sansbold';
}
.form_content ul li:hover a{
    color:#000;
}
.form_content ul li a{
    font-size: 30px;
    display: block;
    height:100%;
    color: #fff;
}
.form_content span{
    width: 45px;
    height: 45px;
    display: inline-block;
    background: url(../Images/image-sprite.png) -6px -369px no-repeat;
    position: absolute;
    right:164px;
    top:44px;
    cursor: pointer;
}
.form_content span:hover{
    background: url(../Images/image-sprite.png) -6px -308px no-repeat;
}
.btn_top{
    position: absolute;
    border: 0px solid #000;
    top:0;
    left:0;
}
.btn_left{
    position: absolute;
    border: 0px solid #000;
    bottom:0;
    left:0;
}
.btn_bottom{
    position: absolute;
    border: 0px solid #000;
    bottom:0;
    right:0;
}
.btn_right{
    position: absolute;
    border: 0px solid #000;
    top:0;
    right:0;
}



.video{
    width: 40px;
    height:40px;
    font-size:40px;
    color:#fff;
    cursor: pointer;
    position: absolute;
    right:100px;
    top:560px;
}
.video-active{
    display: none;
}
/******轮播图样式透明度**********/
.carousel{
    position: absolute;
    left:-1300px;
}
.carousel_pos{
    height: 500px;
    position: relative;
}
.header_d{
    width: 50px;
    height: 50px;
    display: inline-block;
    background: url(../Images/image-sprite.png) no-repeat -5px -250px;
    vertical-align: middle;
    margin-right: 0.3em;
}
.header_x{
    margin:150px 0 0 10px;
    font-size: 20px;
    color:#fff;
    display: inline-block;
    transition: all 0.5s;
}
.header_a:hover .header_x{
    color:#E8432E;
}
.header_a:hover .header_d{
    background:url(../Images/image-sprite.png) no-repeat -2px -194px;
}
.content_one{
    padding-top:30px;
}
/*多次使用*/
.content_one .title{
    padding-bottom:30px;
}

.title{
    margin-left:20px;
    line-height:50px;
    font-size: 30px;
    color:#fff;
}
.title span{
    margin:0 10px 0px 0;
    display: inline-block;
    width: 5px;
    height:20px;
    background: #fff;
}
.opus{
    margin-top:20px;
    width:100%;
}
/*换主题用*/
.opus_header{
    background:#E8432E;
}
.opus_header h2{
    padding:30px 0 ;
    color:#fff;
}
.opus_header h2 span{
    background: #fff;
}
.content_two{
    padding-top:20%;
    padding-left:8%;
    padding-right:8%;
    background: #FF7434;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
    overflow: hidden;
}
.content_two p{
    line-height: 30px;
    font-size:20px;
    font-weight:bold;
    color:#fff;
}
.content_towb{
    width:100%;
    height:80px;
    border-radius: 20px;
    background: #FF7434;
}
.contact_top{
    margin-top:50px;
}
.contact_tubiao{
    margin-left:40px;
    margin-bottom: 80px;
    width:100px;
    height: 100px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
    z-index: 1;
    cursor: pointer;
}
.call{
    background: url("../Images/whatsapp_512_black.png") no-repeat;
}
.mail{
    background: url("../Images/gmail_512_black.png") no-repeat;
}
.github{
    background: url("../Images/github_512_black.png") no-repeat;
}
.blog{
    background: url("../Images/blogger_512_black.png") no-repeat;
}
.contact_content{
    padding:0 5px;
    height:50px;
    font-size: 30px;
    color:#fff;
    background: #E8432E;
    opacity:0.8;
    filter:alpha(opacity:80);
    border-radius: 10px;
    position: absolute;
    top:100px;
    z-index: 20;
}
.call_content{
    width: 106%;
    left:-46px;
    display: none;
}
.mail_content{
    width: 200%;
    left:-174px;
    display:none;
}
.github_content{
    width: 218%;
    left:-186px;
    display: none;
}
.blog_content{
    width: 328%;
    left:-604px;
    display: none;
}




/*****小猫******/
.cat{
    width: 127px;
    height: 102px;
    overflow: hidden;
    position: absolute;
    left:50px;
    top:540px;
}
.cat img{
    position: absolute;
    left:0;
    top:0;
}
/*****小猫******/



.to_top{
    width:32px;
    height:16px;
    background:url("../Images/move-top.png") no-repeat;
    position: fixed;
    right:15px;
    bottom:15px;
    cursor:pointer;
}
.to_top:hover{
    opacity:0.6;
    filter:alpha(opacity:60);
}

/*作品菜单*/
.work_menu{
    padding-left: 0;
    padding-bottom:20px;
    margin-top:20px;
    margin-left: 12%;
    position: relative;
    overflow: hidden;
}
.work_menu .gv{
    background: url("../Images/orange_line.png") repeat 0px 0px;
    width: 130px;
    height: 43px;
    display: block;
    text-align: center;
    line-height: 43px;
    cursor: pointer;
    float: left;
    margin: 8px 4%;
    font: 18px/43px 'microsoft yahei';
    color: #E8432E;
    transition-duration: 0.5s;
}
.work_menu .gv:hover,.work_menu .gv_on{
    background: url("../Images/orange_line.png") repeat 0px -43px;
    color: #fff;
    box-shadow: 0 0 10px #E8432E;
}
.gv_bg{
    width: 130px;
    border: 2px solid #E8432E;
    position: absolute;
    top:60px;
    left:4%;
}
/**********************html作品3d转换**************************/
.rotatePic_left{
    height: 64px;
    width: 39px;
    cursor: pointer;
    background: url(../Images/image-sprite.png) no-repeat -368px -8px;
    z-index: 2;
    position: absolute;
    left: 12%;
    top: 50%;
    margin-top: -32px;
}
.rotatePic_right{
    height: 64px;
    width: 39px;
    cursor: pointer;
    background: url(../Images/image-sprite.png) no-repeat -325px -8px;
    z-index: 2;
    position: absolute;
    right: 12%;
    top: 50%;
    margin-top: -32px;
}
li { list-style: none; }
img { border: none; }
#RotatePic { margin-left:5%; width: 90%; height: 440px; position: relative; border-radius:10px;background:url("../Images/zhuanhuan_bg.jpg") no-repeat -50% 100%;background-size:100% 100%; overflow: hidden; }
#RotatePic li { width: 208px; height: 340px; position: absolute; text-align: center;}
#RotatePic li span { width: 212px; height: 90px; overflow: hidden; position: absolute; bottom: 0; left: 0;
    background:url('../Images/shade.png') !important;
    background:none;
    filter:none!important;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../Images/shade.png');/*sizingMethod='Images'*/
}
#RotatePic img { position: relative; top:0; }
#RotatePic .pic1 { top: 106px; left: 26%; z-index:20; }
#RotatePic .pic1 img {top:20px;}
#RotatePic .pic2 { top: 150px; left: 40%; z-index:30; }
#RotatePic .pic3 { top: 106px; left: 54%; z-index:20; }
#RotatePic .pic3 img {top:20px;}
#RotatePic .unactive {filter: alpha(opacity=20); opacity: 0.2;}
/*****后加********/
#RotatePic .pic4 { top: 60px; left: 62%; z-index:10; }
#RotatePic .pic4 img {top:20px;}
#RotatePic .pic5 { top: 20px; left: 54%; z-index:5; }
#RotatePic .pic5 img {top:20px;}
#RotatePic .pic6 { top: 20px; left: 26%; z-index:5; }
#RotatePic .pic6 img {top:20px;}
#RotatePic .pic7 { top: 60px; left: 18%; z-index:10; }
#RotatePic .pic7 img {top:20px;}
.pic_bg{
    margin-left: -93px;
    width: 187px;
    height: 214px;
    border-radius:10px;
    background: #000;
    position: absolute;
    top:20px;
    left:50%;
}
/**********************html作品3d转换**************************/