body{
    height:2000px;
}
/*换皮肤需要换*/
.header{
    background: url(../Images/header-bg.jpg) no-repeat 0px 0px;
    position: relative;
    border-bottom: 5px solid #E8432E;
    background-size: 100% 100%;
}
.top_header{
    margin:0 0 50px 50px;
    height:600px;
    width:600px;
    float: left;
}
.top_header h2{
    margin-top:50px;
    color:#fff;
    font-size:100px;
    font-weight: 500;
}
.top_header p{
    margin-top:200px;
    width: 600px;
    color:#fff;
    font-size:50px;
    font-weight: 500;
}
/*换皮肤需要换*/
.nav-icon{
    width: 40px;
    height: 40px;
    display: block;
    background: url(../Images/image-sprite.png) no-repeat -3px -124px;
    cursor:pointer;
    position: absolute;
    right:100px;
    top:50px;
}
/*换皮肤需要换*/
.form_content{
    width: 100%;
    height:650px;
    background:rgba(232, 67, 46, 0.45098);
    position: absolute;
    top:-650px;
    left:0;
}
.form_content ul{
    margin-left:-50px;
    position: absolute;
    left:50%;
    top:200px;
}
.form_content ul li{
    line-height: 80px;
    text-align:center;
    font-weight: bold;
}
.form_content ul li a{
    transition: all 1s;
    font-family: 'pt_sansbold';
}
.form_content ul li:hover a{
    color:#000;
}
.form_content ul li a{
    font-size: 30px;
    color: #fff;
}
.form_content span{
    width: 45px;
    height: 45px;
    display: inline-block;
    background: url(../Images/image-sprite.png) -6px -369px no-repeat;
    position: absolute;
    right:164px;
    top:44px;
    cursor: pointer;
}
.form_content span:hover{
    background: url(../Images/image-sprite.png) -6px -308px no-repeat;
}
.header_d{
    width: 50px;
    height: 50px;
    display: inline-block;
    background: url(../Images/image-sprite.png) no-repeat -5px -250px;
    vertical-align: middle;
    margin-right: 0.3em;
}
.header_x{
    margin:100px 0 0 10px;
    font-size: 20px;
    color:#fff;
    display: inline-block;
    transition: all 0.5s;
}
.header_a:hover .header_x{
    color:#E8432E;
}
.header_a:hover .header_d{
    background:url(../Images/image-sprite.png) no-repeat -2px -194px;
}
.content_one{
    padding-top:50px;
}
/*多次使用*/
.title{
    margin-left:20px;
    line-height:50px;
    font-size: 30px;
}
.title span{
    margin:0 10px 0px 0;
    display: inline-block;
    width: 5px;
    height:20px;
    background: #000;
}
.lun{
    width: 100%;
    height:420px;
    position: relative;
}
.owl_btn div{
    height: 64px;
    width: 39px;
    cursor:pointer;
}
.owl_prev{
    position: absolute;
    top:22%;
    left:-11%;
    background: url(../Images/image-sprite.png) no-repeat -368px -8px;
}
.owl_prev:hover{
    opacity: 0.5;
}
.owl_next{
    position: absolute;
    top:22%;
    right:-11%;
    background: url(../Images/image-sprite.png) no-repeat -325px -8px;
}
.owl_next:hover{
    opacity: 0.5;
}


